@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');

* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

html {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  color:whitesmoke;
}



body {
  background: rgb(1,17,38);
  background: linear-gradient(90deg, #011126 4%, #497364 35%, #89d9a5 100%);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

#servicos {
  text-align: center;

}

#sobre-nos {
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 2px;

}

.formulario {
  margin: 0 auto; /* centraliza o formulário horizontalmente */
  width: 80%; /* define a largura do formulário */
  margin: 0 auto;
  width: 40%;
  padding: 20px 30px; /* define 20px de preenchimento superior e inferior, e 30px de preenchimento esquerdo e direito */
  border: 1px solid #ccc; /* define uma borda de 1px com a cor cinza claro */
  
}

.formulario .label {
  margin: 0 auto; /* centraliza o formulário horizontalmente */
  width: 50%; /* define a largura do formulário */
  margin: 0 auto;
  width: 50%;
  padding: 10px 10%; /* define 20px de preenchimento superior e inferior, e 30px de preenchimento esquerdo e direito */
  border: 1px solid; /* define uma borda de 1px com a cor cinza claro */
}

.btn {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: whitesmoke;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
}

.btn .botao {
  font-size: 18px;
  color: #e1e1e1;
  font-family: 'Poppins', sans-serif;
  font-weight: 8;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;

}

.botao:focus,
.botao:hover {
  color: #fff;
}

.botao:focus:after,
.botao:hover:after {
  width: 100%;
  left: 0%;
}

.botao:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: linear-gradient(90deg, #011126 4%,#497364 35%, #89d9a5 100%);
  transition: 0.5s ease;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #497364;

  transition: 0.1s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: white;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav li:last-child {
  margin-right: auto;
}

a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}


.contato-form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

.contato-form label {
  color: black;
}

.contato-form .heading {
  font-size: 24px;
  color: black;
  ;
  margin-bottom: 12px;
  font-weight:normal;
  display: block;
}

.contato-form form {
  display: flex;
  flex-direction: column;
}

.contato-form label {
  margin-bottom: 10px;
}

textarea {
  resize: none;
  height: 80px;
  width: 200px;
}

.contato-form input, .contato-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contato-form input:focus, .contato-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #ff6384;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.contato-form button[type="submit"] {
  background-color: #ff6384;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contato-form button[type="submit"]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}



/*Media para o site */
@media (width <= 620px) body {
}
