@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
}
ul {
  list-style: none;
}

body {
  background: linear-gradient(90deg, #011126 4%, #497364 35%, #89d9a5 100%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin-top: -80px;
}

/*Linha que  passa pelo cabeçalho*/
.conteudo {
  display: flex;
  margin-bottom: 48px;
  border-top: 0.4px solid #fff2e7;
  align-items: center;
  justify-content: space-around;
}

.img {
  height: 60%;
}

.cabecalho-menu {
  display: flex;
  gap: 25px;
}

.cabecalho-menu-item {
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  font-weight: 400;
  font-size: 18px;
}

/*Formulário*/
.formulario {
  background-color: #f2f2f2;
  background-position: 50%;
  padding: 20px 100px;
  border-radius: 10px;
}

/* Display flax do formulário*/
.formulario {
  display: flex;
  gap: 10px;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 20px;
}

.formulario label {
  color: black;
}

.contact-form .heading {
  font-size: 24px;
  color: black;
  margin-bottom: 15px;
  font-weight: 'poppins';
  display: block;
}

.formulario form {
  display: flex;
  flex-direction: column;
  background-size: 80% auto;
}

.formulario label {
  margin-bottom: 10px;
}

textarea {
  resize: none;
  height: 80px;
  width: 200px;
}

.formulario input,
.formulario textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.formulario input:focus,
.formulario textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #ff6384;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/*Botão de enviar do formulário*/
.formulario button[type='submit'] {
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

.formulario button[type='submit']:hover {
  color: white;
}
.formulario button::before {
  position: absolute;
  content: '';
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.formulario button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.formulario button:hover::before {
  top: -30px;
  left: -30px;
}
